node_red_dashboard/node_red_dashboard.json
[
    {
        "id": "9ddb872b03c784f2",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "mqtt_health",
        "type": "mqtt in",
        "z": "9ddb872b03c784f2",
        "name": "ESP32 Health Data",
        "topic": "esp32/health",
        "qos": "0",
        "datatype": "auto",
        "broker": "65af3fc03f9b84c7",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 130,
        "y": 360,
        "wires": [
            [
                "json_parse"
            ]
        ]
    },
    {
        "id": "json_parse",
        "type": "json",
        "z": "9ddb872b03c784f2",
        "name": "Parse JSON",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 350,
        "y": 360,
        "wires": [
            [
                "c9ed9e541c9423e9",
                "391e05f84f996b57",
                "fbb0dff4b1def3d3"
            ]
        ]
    },
    {
        "id": "g_temp",
        "type": "ui_gauge",
        "z": "9ddb872b03c784f2",
        "name": "Temperature",
        "group": "1b910f7303a311da",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "",
        "label": "Temperature (°C)",
        "format": "{{msg.temp}}",
        "min": "0",
        "max": 45,
        "colors": [
            "#00bfff",
            "#05a305",
            "#b61111"
        ],
        "seg1": "35",
        "seg2": "37.5",
        "diff": false,
        "className": "temp_gauge",
        "x": 850,
        "y": 200,
        "wires": []
    },
    {
        "id": "g_bpm",
        "type": "ui_gauge",
        "z": "9ddb872b03c784f2",
        "name": "Heart Rate",
        "group": "e26016a88d7cc9a8",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "",
        "label": "Heart Rate (BPM)",
        "format": "{{msg.bpm}}",
        "min": "0",
        "max": "200",
        "colors": [
            "#ff7b00",
            "#05a305",
            "#ff0000"
        ],
        "seg1": "60",
        "seg2": "100",
        "diff": false,
        "className": "<style> /* ===== Gauge Température Médicale ===== */  #temp-gauge {     font-family: 'Roboto', Arial, sans-serif; }  /* Valeur numérique */ #temp-gauge text.value {     font-size: 38px !important;     font-weight: bold;     fill: #222 !important; }  /* Label (°C) */ #temp-gauge text.units {     font-size: 16px !important;     fill: #666 !important; }  /* Arc normal (36–37.4) */ #temp-gauge .arc.normal {     stroke: #2ecc71 !important; /* vert médical */ }  /* Arc fièvre légère */ #temp-gauge .arc.warn {     stroke: #f39c12 !important; }  /* Arc fièvre élevée */ #temp-gauge .arc.danger {     stroke: #e74c3c !important; }  /* Fond gauge */ #temp-gauge path.background {     stroke: #e0e0e0 !important; }  /* Animation douce */ #temp-gauge path {     transition: stroke 0.6s ease, stroke-dasharray 0.6s ease; } </style>",
        "x": 790,
        "y": 440,
        "wires": [],
        "icon": "font-awesome/fa-heartbeat"
    },
    {
        "id": "g_spo2",
        "type": "ui_gauge",
        "z": "9ddb872b03c784f2",
        "name": "SpO2",
        "group": "9aa26e00a327c880",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "",
        "label": "SpO₂ (%)",
        "format": "{{msg.spo2}}",
        "min": "0",
        "max": 100,
        "colors": [
            "#ff0000",
            "#ffff00",
            "#05a305"
        ],
        "seg1": "92",
        "seg2": "94",
        "diff": false,
        "className": "",
        "x": 790,
        "y": 620,
        "wires": []
    },
    {
        "id": "chart_temp",
        "type": "ui_chart",
        "z": "9ddb872b03c784f2",
        "name": "Temp History",
        "group": "b37c2578729cf0de",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Historique de température",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": "60",
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": "",
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 970,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "chart_bpm",
        "type": "ui_chart",
        "z": "9ddb872b03c784f2",
        "name": "BPM History",
        "group": "bf2e71192550b9de",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Historique de battements de coeur",
        "chartType": "line",
        "xformat": "HH:mm:ss",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": "60",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": "",
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 790,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "chart_spo2",
        "type": "ui_chart",
        "z": "9ddb872b03c784f2",
        "name": "SpO2 History",
        "group": "b37c2578729cf0de",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Historique de SpO₂",
        "chartType": "line",
        "xformat": "HH:mm:ss",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "60",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": "",
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 810,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "c9ed9e541c9423e9",
        "type": "function",
        "z": "9ddb872b03c784f2",
        "name": "temp",
        "func": "msg.payload = msg.payload.temperature;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 260,
        "wires": [
            [
                "g_temp",
                "bfefb7bf56f2f3a9",
                "c09ac909ce9d31c5",
                "chart_temp"
            ]
        ]
    },
    {
        "id": "391e05f84f996b57",
        "type": "function",
        "z": "9ddb872b03c784f2",
        "name": "bpm",
        "func": "msg.payload = msg.payload.bpm;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 480,
        "wires": [
            [
                "chart_bpm",
                "g_bpm",
                "be9c85b1f78b50c2",
                "1ab192c997b8a8f4"
            ]
        ]
    },
    {
        "id": "fbb0dff4b1def3d3",
        "type": "function",
        "z": "9ddb872b03c784f2",
        "name": "spo2",
        "func": "msg.payload = msg.payload.spo2;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 660,
        "wires": [
            [
                "chart_spo2",
                "g_spo2",
                "880bcda09f20b619",
                "b94b6d113cf60eeb"
            ]
        ]
    },
    {
        "id": "bfefb7bf56f2f3a9",
        "type": "ui_text",
        "z": "9ddb872b03c784f2",
        "group": "1b910f7303a311da",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload}} °C",
        "layout": "row-center",
        "className": "nr-dashboard-cardtitle",
        "style": true,
        "font": "",
        "fontSize": "30",
        "color": "#062fd0",
        "x": 870,
        "y": 140,
        "wires": []
    },
    {
        "id": "be9c85b1f78b50c2",
        "type": "ui_text",
        "z": "9ddb872b03c784f2",
        "group": "e26016a88d7cc9a8",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload}} bpm",
        "layout": "row-center",
        "className": "nr-dashboard-cardtitle",
        "style": true,
        "font": "",
        "fontSize": "30",
        "color": "#062fd0",
        "x": 790,
        "y": 400,
        "wires": []
    },
    {
        "id": "880bcda09f20b619",
        "type": "ui_text",
        "z": "9ddb872b03c784f2",
        "group": "9aa26e00a327c880",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}%",
        "layout": "row-center",
        "className": "nr-dashboard-cardtitle",
        "style": true,
        "font": "",
        "fontSize": "30",
        "color": "#062fd0",
        "x": 790,
        "y": 580,
        "wires": []
    },
    {
        "id": "c09ac909ce9d31c5",
        "type": "function",
        "z": "9ddb872b03c784f2",
        "name": "image",
        "func": "let temp = Number(msg.payload);\nlet alert = \"/normal_temp.jpg\";\n\nif (temp < 35) {\n    alert = \"/hypothermia.gif\";\n}\nelse if (temp >= 35 && temp <= 37.5) {\n    alert = \"/normal_temp.jpg\";\n}\nelse if (temp > 37.5 && temp < 38) {\n    alert = \"/warning_temp.gif\";\n}\nelse if (temp >= 38) {\n    alert = \"/fever.gif\";\n}\n\nmsg.payload = alert;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 80,
        "wires": [
            [
                "ed8ffb90be6b4d6a"
            ]
        ]
    },
    {
        "id": "405c2e1561887534",
        "type": "ui_template",
        "z": "9ddb872b03c784f2",
        "group": "e26016a88d7cc9a8",
        "name": "Afficher Image",
        "order": 3,
        "width": 0,
        "height": 0,
        "format": "<div style=\"text-align:center\">\n    <img ng-src=\"{{msg.payload}}\" alt=\"Image\" style=\"width:300px;height:300;\">\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1000,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "1ab192c997b8a8f4",
        "type": "function",
        "z": "9ddb872b03c784f2",
        "name": "image",
        "func": "let bpm = Number(msg.payload);\nlet alert = \"/hr_normal.gif\";\nif (bpm < 1)\n{\n    alert = \"/wellbeing.gif\";   \n}\nelse if (bpm < 50) {\n    alert = \"/low_Heart_Rate.png\";          // bradycardie\n}\nelse if (bpm >= 50 && bpm < 60) {\n    alert = \"/hr_warning_low.jpg\";  // bas\n}\nelse if (bpm >= 60 && bpm <= 100) {\n    alert = \"/hr_normal.gif\";       // normal\n}\nelse if (bpm > 100 && bpm <= 120) {\n    alert = \"/hr_warning_high.gif\"; // élevé\n}\nelse if (bpm > 120) {\n    alert = \"/hr_danger.jpg\";       // tachycardie\n}\n\nmsg.payload = alert;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 340,
        "wires": [
            [
                "405c2e1561887534"
            ]
        ]
    },
    {
        "id": "b94b6d113cf60eeb",
        "type": "function",
        "z": "9ddb872b03c784f2",
        "name": "image",
        "func": "let spo2 = Number(msg.payload);\nlet alert = \"/spo2_normal.gif\";\nif (spo2 < 85) {\n    alert = \"/spo2_critical.png\";\n}\nelse if (spo2 < 92) {\n    alert = \"/spo2_low.gif\";\n}\nelse if (spo2 < 95) {\n    alert = \"/spo2_warning.gif\";\n}\nelse {\n    alert = \"/spo2_normal.gif\";\n}\n\nmsg.payload = alert;\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 540,
        "wires": [
            [
                "9ab6749312b5b60b"
            ]
        ]
    },
    {
        "id": "9ab6749312b5b60b",
        "type": "ui_template",
        "z": "9ddb872b03c784f2",
        "group": "9aa26e00a327c880",
        "name": "Afficher Image",
        "order": 3,
        "width": 0,
        "height": 0,
        "format": "<div style=\"text-align:center\">\n    <img ng-src=\"{{msg.payload}}\" alt=\"Image\" style=\"width:300px;height:300;\">\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1000,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "ed8ffb90be6b4d6a",
        "type": "ui_template",
        "z": "9ddb872b03c784f2",
        "group": "1b910f7303a311da",
        "name": "Afficher Image",
        "order": 3,
        "width": 0,
        "height": 0,
        "format": "<div style=\"text-align:center\">\n    <img ng-src=\"{{msg.payload}}\" alt=\"Image\" style=\"width:300px;height:300;\">\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 940,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "6dbb3908060e92c6",
        "type": "ui_template",
        "z": "9ddb872b03c784f2",
        "group": "9119c785e20f1457",
        "name": "Afficher Image [home]",
        "order": 4,
        "width": 0,
        "height": 0,
        "format": "<div style=\"\n    display:flex;\n    flex-direction:column;\n    align-items:center;\n    justify-content:center;\n    overflow:hidden;\n\">\n    <div style=\"\n        font-size:40px;\n        font-weight:700;\n        color:#00796b;\n        text-align:center;\n        letter-spacing:2px;\n        margin-bottom:5px;\n        font-family:'Segoe UI', Arial;\n    \">\n        Smart Health Monitoring System\n    </div>\n\n    <img ng-src=\"/home.gif\"\n         style=\"max-width:100%; max-height:180px;\">\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 393,
        "y": 641.2000122070312,
        "wires": [
            []
        ]
    },
    {
        "id": "b56f8eaf22663126",
        "type": "ui_template",
        "z": "9ddb872b03c784f2",
        "group": "7ada7a0b9c4db857",
        "name": "Afficher Image [esprit]",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<div style=\"text-align:center\">\n    <img ng-src=\"/esprit.png\" alt=\"Image\" style=\"width:300px;height:300;\">\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 400,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "7f5557fd2a9cbcbe",
        "type": "ui_template",
        "z": "9ddb872b03c784f2",
        "group": "336266e5cfb1291b",
        "name": "Afficher Image [actia]",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<div style=\"text-align:left\">\n    <img ng-src=\"/actia.jpg\" alt=\"Image\" style=\"width:300px;height:300;\">\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 420,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "34468d08504bc0cc",
        "type": "ui_template",
        "z": "9ddb872b03c784f2",
        "group": "",
        "name": "style",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<style>\n    /* Background général */\n    body {\n        background-color: #ffffff !important;\n    }\n\n    /* Fond des groupes */\n    .nr-dashboard-cardcontainer {\n        background-color: #ffffff !important;\n    }\n\n    /* Cartes widgets */\n    .nr-dashboard-theme md-card {\n        background-color: #ffffff !important;\n    }\n\n    /* Texte */\n    .nr-dashboard-theme {\n        color: #000000 !important;\n    }\n\n        .medical-container {\n        background: #ffffff;\n        border-radius: 12px;\n        padding: 20px;\n        max-width: 450px;\n        margin: auto;\n        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);\n        font-family: \"Segoe UI\", Arial, sans-serif;\n        }\n        \n        .medical-title {\n        text-align: center;\n        color: #00796b;\n        margin-bottom: 15px;\n        font-size: 22px;\n        }\n        \n        .medical-list {\n        list-style: none;\n        padding: 0;\n        margin: 0;\n        }\n        \n        .medical-list li {\n        background: #e0f2f1;\n        margin-bottom: 10px;\n        padding: 12px;\n        border-radius: 8px;\n        font-size: 16px;\n        color: #004d40;\n        display: flex;\n        align-items: center;\n        }\n        \n        .medical-list li::before {\n        content: \"🩺\";\n        margin-right: 10px;\n        font-size: 18px;\n        }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "global",
        "className": "",
        "x": 370,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "0abab1fe62269737",
        "type": "ui_template",
        "z": "9ddb872b03c784f2",
        "group": "336266e5cfb1291b",
        "name": "Afficher Image [team 2]",
        "order": 2,
        "width": 0,
        "height": 0,
        "format": "<div class=\"medical-container\">\n    <h2 class=\"medical-title\">👨‍⚕️ Medical Team </h2>\n\n    <ul class=\"medical-list\">\n        <li>Ala Din Chibouni</li>\n        <li>Ghassen Ben Salem</li>\n        <li>Hani Khedhiri</li>\n    </ul>\n</div>\n\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 450,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "f6bbbc7ed918d38b",
        "type": "ui_template",
        "z": "9ddb872b03c784f2",
        "group": "7ada7a0b9c4db857",
        "name": "Afficher Image [team 1]",
        "order": 2,
        "width": 0,
        "height": 0,
        "format": "<div class=\"medical-container\">\n    <h2 class=\"medical-title\">👨‍⚕️ Medical Team </h2>\n\n    <ul class=\"medical-list\">\n        <li>Omar Mejri</li>\n        <li>Mahjoub Hanchi</li>\n        <li>Yahia Jbeli</li>\n        <li>Aymen Badreddine</li>\n    </ul>\n</div>\n\n<style>\n    .medical-container {\n        overflow: hidden;\n        background: #ffffff;\n        border-radius: 12px;\n        padding: 20px;\n        max-width: 450px;\n        margin: auto;\n        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);\n        font-family: \"Segoe UI\", Arial, sans-serif;\n    }\n\n    .medical-title {\n        text-align: center;\n        color: #00796b;\n        margin-bottom: 15px;\n        font-size: 22px;\n    }\n\n    .medical-list {\n        list-style: none;\n        padding: 0;\n        margin: 0;\n    }\n\n    .medical-list li {\n        background: #e0f2f1;\n        margin-bottom: 10px;\n        padding: 12px;\n        border-radius: 8px;\n        font-size: 16px;\n        color: #004d40;\n        display: flex;\n        align-items: center;\n    }\n\n    .medical-list li::before {\n        content: \"🩺\";\n        margin-right: 10px;\n        font-size: 18px;\n    }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 725.2000122070312,
        "y": 905.2000122070312,
        "wires": [
            []
        ]
    },
    {
        "id": "aaf1f94a4f9ae7da",
        "type": "function",
        "z": "9ddb872b03c784f2",
        "name": "Vider la courbe",
        "func": "if(msg.payload === 'clear'){\n    msg.payload = [];\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 840,
        "y": 780,
        "wires": [
            [
                "chart_spo2",
                "chart_bpm",
                "chart_temp"
            ]
        ]
    },
    {
        "id": "b50e956ce73fd793",
        "type": "ui_button",
        "z": "9ddb872b03c784f2",
        "name": "Clear",
        "group": "bf2e71192550b9de",
        "order": 3,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Clear",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "clear",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 650,
        "y": 780,
        "wires": [
            [
                "aaf1f94a4f9ae7da"
            ]
        ]
    },
    {
        "id": "7e8a2aa01cc75a5c",
        "type": "ui_spacer",
        "z": "9ddb872b03c784f2",
        "name": "spacer",
        "group": "9119c785e20f1457",
        "order": 1,
        "width": 8,
        "height": 1
    },
    {
        "id": "121f3e8bd9f0fde1",
        "type": "ui_spacer",
        "z": "9ddb872b03c784f2",
        "name": "spacer",
        "group": "9119c785e20f1457",
        "order": 2,
        "width": 8,
        "height": 1
    },
    {
        "id": "79f07b80def4f7cf",
        "type": "ui_spacer",
        "z": "9ddb872b03c784f2",
        "name": "spacer",
        "group": "9119c785e20f1457",
        "order": 3,
        "width": 8,
        "height": 1
    },
    {
        "id": "4e2f875d58bcb5d4",
        "type": "ui_spacer",
        "z": "9ddb872b03c784f2",
        "name": "spacer",
        "group": "b37c2578729cf0de",
        "order": 2,
        "width": 13,
        "height": 1
    },
    {
        "id": "6c455c68e1521c1a",
        "type": "ui_spacer",
        "z": "9ddb872b03c784f2",
        "name": "spacer",
        "group": "b37c2578729cf0de",
        "order": 3,
        "width": 13,
        "height": 1
    },
    {
        "id": "c23f70b34fc898d3",
        "type": "ui_spacer",
        "z": "9ddb872b03c784f2",
        "name": "spacer",
        "group": "bf2e71192550b9de",
        "order": 2,
        "width": 6,
        "height": 1
    },
    {
        "id": "d84f6b3402da408c",
        "type": "ui_spacer",
        "z": "9ddb872b03c784f2",
        "name": "spacer",
        "group": "bf2e71192550b9de",
        "order": 4,
        "width": 5,
        "height": 1
    },
    {
        "id": "65af3fc03f9b84c7",
        "type": "mqtt-broker",
        "name": "",
        "broker": " localhost",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "1b910f7303a311da",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "da6da1f84f5a191b",
        "order": 1,
        "disp": false,
        "width": 7,
        "collapse": false,
        "className": ""
    },
    {
        "id": "e26016a88d7cc9a8",
        "type": "ui_group",
        "name": "Heart Rate",
        "tab": "da6da1f84f5a191b",
        "order": 3,
        "disp": false,
        "width": 7,
        "collapse": false,
        "className": ""
    },
    {
        "id": "9aa26e00a327c880",
        "type": "ui_group",
        "name": "SpO2",
        "tab": "da6da1f84f5a191b",
        "order": 2,
        "disp": false,
        "width": 7,
        "collapse": false,
        "className": ""
    },
    {
        "id": "b37c2578729cf0de",
        "type": "ui_group",
        "name": "SpO2",
        "tab": "67745e2d84095c31",
        "order": 1,
        "disp": false,
        "width": 13,
        "collapse": false,
        "className": ""
    },
    {
        "id": "bf2e71192550b9de",
        "type": "ui_group",
        "name": "Battement de coeur",
        "tab": "67745e2d84095c31",
        "order": 2,
        "disp": false,
        "width": 13,
        "collapse": false,
        "className": ""
    },
    {
        "id": "9119c785e20f1457",
        "type": "ui_group",
        "name": "home icon",
        "tab": "790689268b5d6008",
        "order": 2,
        "disp": false,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "7ada7a0b9c4db857",
        "type": "ui_group",
        "name": "esprit icon",
        "tab": "790689268b5d6008",
        "order": 1,
        "disp": false,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "336266e5cfb1291b",
        "type": "ui_group",
        "name": "actia icon",
        "tab": "790689268b5d6008",
        "order": 3,
        "disp": false,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "da6da1f84f5a191b",
        "type": "ui_tab",
        "name": "real time measurements",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "67745e2d84095c31",
        "type": "ui_tab",
        "name": "History",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "790689268b5d6008",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "1a63e514ae68117a",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]